[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["standard"], version = "==0.115"}
requests = "==2.32.3"
pydantic-settings = "==2.9.1"

[dev-packages]
pre-commit = "==4.0.1"
pytest-cov = "==6.0.0"
pytest = "==8.3.4"
pylint = "==3.3.3"
ruff = "==0.8.4"
polyfactory = "==2.21.0"
requests-mock = "==1.12.1"
pytest-recording = "==0.13.3"

[requires]
python_version = "3.12"
python_full_version = "3.12.5"

[scripts]
format = "pre-commit run --all-files"
test = "pytest --cov=vcr_showcase --cov-report term-missing:skip-covered --cov-report xml:coverage-report.xml --junitxml=coverage.xml tests"
dev = "fastapi dev vcr_showcase/main.py"
